@charset "EUC-KR";

#name {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 700%;
}

#chameleon1 {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 550%;
}

#chameleon2 {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 550%;
}

#heart {
	display: inline;
}
#heart img {
	width: 80px;
	height: auto;
}

#year {
	display: inline;
}
#year img {
	vertical-align: -20px;
	width: 100px;
	height: auto;
}
