@charset "EUC-KR";

#name {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 450%;
}

#chameleon1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 400%;
}

#chameleon2 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 400%;
}
